.alert {
    padding: 10px;
    background-color: #1f4454; /* Red */
    color: white;
    width: 25%;
  }
  /* The close button */
  .closebtn {

    color: white;
    font-weight: bold;
    float: right;
    font-size: 28px;
    line-height: 25px;
  }
